.toast {
	position: fixed;
	display: block;
	padding: 0 20px;
	left: 12px;
	bottom: 12px;
	min-height: 50px;
	max-height: 50px;
	border-radius: 25px;
	transform: translateY(150%);
	transition: -webkit-transform 0.2s ease;
	transition:         transform 0.2s ease;
	transition:         transform 0.2s ease, -webkit-transform 0.2s ease;
	align-items: center;
}
.toast.visible {
	transform: translateY(0);
}
.toast.success {
	background-color: #8fc43b;
}
.toast.success p {
	color: #000000;
}
.toast.danger {
	background-color: #a72d1f;
}
.toast.danger p {
	color: #ffffff;
}
.toast.warning {
	background-color: #e6ab09;
}
.toast.warning p {
	color: #ffffff;
}
/* .toast figure {
    height: 35px;
    margin: 0 15px 0 0;
    opacity: .9;
    width: 35px
  }
  .toast figure img {
    height: 100%;
    width: 100%;
  } */
.toast p {
	color: #ffffff;
	white-space: nowrap;
	font-size: 14px;
	font-family: 'Noto Sans';
}
